body {
  margin: 0;
  font-family: 'Inter', Helvetica, Arial, Verdana, sans-serif;
  -webkit-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: antialiased;
  font-size: 13px;
  line-height: 19px;
  font-stretch: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img:-moz-loading {
  visibility: hidden;
}

.img-loading {
  position: relative;
}

.img-loading::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  border: .25rem solid #f8f8f8;
  border-top-color: #ccc;
  -webkit-animation: loading 1s ease-in-out infinite;
          animation: loading 1s ease-in-out infinite;
  z-index: -1;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.center {
  text-align: center;
  display: block;
}

.main-menu a {
  text-decoration: none;
  color: #aaa;
}

.main-menu a:hover {
  color: black;
}

.main-menu a.active {
  color: black;
  font-weight: 500;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 20px 22px;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  background-color: white;
  z-index: 100;
}

label[for="menu"] {
  display: none;
}

@media screen and (max-width: 500px) {
  label[for="menu"] {
    display: block;
    line-height: 0;
  }
  input#menu:checked + nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    left: 0;
    top: 0;
  }
  nav .close-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 20px 22px;
    position: absolute;
    width: calc(100% - 40px);
    top: 0;
  }
  nav .main-menu--nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  nav .main-menu--nav li {
    margin-bottom: 2rem;
    font-size: 1rem;
    margin-right: 0;
  }
  nav .main-menu--nav li a {
    color: black;
  }
  nav .main-menu--nav li a.active {
    font-weight: 500;
  }
}

.main-menu--home {
  padding: 0;
  margin-right: 60px;
}

.main-menu--nav {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.main-menu--nav-link {
  padding: 0;
  margin-right: 15px;
}

.main-content {
  padding: 0;
}

.gallery-wrapper {
  position: relative;
  overflow: hidden;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 130px);
  /* Fallback for browsers that do not support Custom Properties */
  height: calc(calc(var(--vh, 1vh) * 100) - 130px);
  overflow-x: scroll;
  position: relative;
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.gallery-container::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.gallery-image {
  position: relative;
  height: 100%;
  width: 100vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  scroll-snap-align: center;
}

.gallery-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.gallery-guide {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: transparent;
  z-index: 10;
}

.gallery-guide--left {
  left: 0;
  cursor: w-resize;
  cursor: url(/arrow--left.svg) 1 25, w-resize;
}

.gallery-guide--right {
  right: 0;
  cursor: e-resize;
  cursor: url(/arrow--right.svg) 1 25, e-resize;
}

.project-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 24px 20px 22px;
}

.project-info.description {
  max-width: 42rem;
  padding-top: 0;
  margin-top: -1rem;
  opacity: .7;
}

.progetti {
  display: -ms-grid;
  display: grid;
  grid-gap: 4rem;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-auto-flow: row;
  padding: 0 20px;
}

@media screen and (min-width: 640px) {
  .progetti {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 6rem;
  }
}

@media screen and (min-width: 1120px) {
  .progetti {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 8rem;
  }
}

@media screen and (min-width: 1600px) {
  .progetti {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 8rem;
  }
}

@media screen and (min-width: 2000px) {
  .progetti {
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 8rem;
  }
}

.progetto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  width: 100%;
}

.progetto .progetto-img {
  width: 100%;
  height: 260px;
  position: relative;
}

.progetto .progetto-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
}

.progetto .link {
  color: black;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progetto .link span {
  line-height: 2;
}

@media screen and (pointer: fine) {
  .progetto .link span {
    visibility: hidden;
  }
  .progetto .link:hover span {
    visibility: visible;
  }
}

.pages-content {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.pages-content .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 4rem;
}

.pages-content .column p {
  max-width: 520px;
}

.pages-content .column img {
  width: 200px;
  height: auto;
  margin-right: 2rem;
}

.pages-content .text-column {
  max-width: 500px;
  padding: 1rem;
}

.page--persone {
  padding: 24px 20px 22px;
}

.page--persone .enrico-and-paola {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  min-height: 200px;
}

.page--persone .enrico-and-paola img {
  width: 100%;
  height: 100%;
  max-width: 12rem;
}

.page--persone .two-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 6rem;
          column-gap: 6rem;
}

.page--home .gallery-image {
  height: 80%;
  width: 90%;
  margin: 0 auto;
}

.page--home .feature-title {
  margin-top: calc(-6vh + 1rem);
  color: black;
  text-align: center;
  font-size: 1.25rem;
}

.max-25 {
  max-width: 25rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mr-6 {
  margin-right: 6rem;
}

.ml-auto {
  margin-left: auto;
}

.hidden {
  display: none;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */