<!DOCTYPE html>
<html lang='{{ site.LanguageCode | default "it" }}' >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta -->
    <title>{{ .Site.Title }}</title>
    {{ partial "head/meta.html" . }}

    <!-- Fonts -->
    <link rel="preload" href="/Inter-Medium.woff2?v=3.19" as="font" type="font/woff2" crossorigin>
    <!-- <link rel="preload" href="/Inter-Medium.woff?v=3.19" as="font" type="font/woff" crossorigin> -->
    <link rel="stylesheet" href="/inter.css">

    <!-- Styles -->
    {{ $styles := resources.Get "css/style.css" }}
    {{ $styles := $styles | resources.Minify }}
    {{ if .Site.IsServer }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ else }}
      {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
      <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
    {{ end }}

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#333333">
    <meta name="msapplication-TileColor" content="#333333">
    <meta name="theme-color" content="#ffffff">

    <!-- Scripts -->
    <script
      defer
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous">
    </script>

    <script
      defer
      src="https://cdnjs.cloudflare.com/ajax/libs/swiped-events/1.1.6/swiped-events.min.js" 
      integrity="sha512-AVWkE7WmKyUrLVDkwiGd1k2J/S6IDwbtRXP052gZu+M9V/BgLRBS5ZFHZ7qxlfIZ6SUcYR+8cIaD7vv7SwLjEg==" 
      crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>

    {{ $images_script := resources.Get "js/load-images.js" }}
    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
    <script defer language="javascript" type="text/javascript" src="{{ $images_script.RelPermalink }}"></script>

    {{ $script := resources.Get "js/viewport-height.js" }}
    <script defer language="javascript" type="text/javascript" src="{{ $script.RelPermalink }}"></script>

  </head>

  <body class=""> 
    {{ partial "header.html" . }}

    <main class="main-content" role="main">
      {{ block "main" . }}{{ end }}
    </main>

  </body>
</html>
