{{ define "main" }}
    <div class="page--persone">
        <div class="enrico-and-paola mb-2">
            <!-- <div class="img-loading"> -->
                {{ $enrico := (.Resources.ByType "image").GetMatch "*enrico*" }}
                {{ partial "image" (dict "Site" $.Site  "image" $enrico "loading" "eager" "width" "192" "height" "212" ) }}    
            <!-- </div> -->
            
            <!-- <div class="img-loading"> -->
                {{ $paola := (.Resources.ByType "image").GetMatch "*paola*" }}
                {{ partial "image" (dict "Site" $.Site  "image" $paola "loading" "eager" "width" "192" "height" "212" ) }}   
            <!-- </div>  -->
        </div>

        <div class="two-columns">
            <div class="max-25">
                <p>
                    {{ .Params.Enrico }}
                    <br><br>
                    {{ .Params.Paola }}
                    <br><br>
                    {{ .Params.Collab }}
                </p>
            </div>

            <div class="text-column max-25">
                {{- .Content -}}
            </div>
        </div>
    
    </div>
{{ end }}