{{ define "main" }}
    <div class="page--persone">
        <div class="enrico-and-paola mb-2">
            <!-- <div class="img-loading"> -->
                {{ $enrico := (.Resources.ByType "image").GetMatch "*enrico*" }}
                {{ partial "image" (dict "Site" $.Site  "image" $enrico "loading" "eager" "width" "192" "height" "212" ) }}    
            <!-- </div> -->
            
            <!-- <div class="img-loading"> -->
                {{ $paola := (.Resources.ByType "image").GetMatch "*paola*" }}
                {{ partial "image" (dict "Site" $.Site  "image" $paola "loading" "eager" "width" "192" "height" "212" ) }}   
            <!-- </div>  -->
        </div>

        <div class="two-columns">
            <div class="max-25">
                <p>
                    Enrico Caminoli - graduated from Politecnico in Milan in 1976, where he then taught in the 1980s within a field of research on city analysis and design together with a group of professors directed by Prof. Giorgio Grassi and Prof. Antonio Monestiroli. During those years he worked in Milan in the studio of Antonio Monestiroli and Paolo Rizzatto. In 1980 he opened his own studio in Milan at Via Segantini No. 73 until the early 2000s.                    <br><br>Paola Coppola - si laurea all'Università di Firenze nel 1984 con una tesi sulla città di Lucca - apre lo studio a Lucca nel 1990 occupandosi principalmente di ristrutturazione.
                    <br><br>
                    Paola Coppola - graduated from the University of Florence in 1984 with a thesis on the city of Lucca - she opened her studio in Lucca in 1990 dealing mainly with renovation works.
                    <br><br>
                    In 1998 she began the collaboration concerning the renovation and consolidation of some historical buildings such as villas, farms, farmhouses, mansions, etc.
                    In some of these interventions, renovations with extension possibilities were also taken into consideration, especially in those cases where -of course- the theme was about the assonance between the old and the new.
                    In the last few years, we have also been working on new constructions, mainly in Tuscany and Apulia.
                </p>
            </div>

            <div class="text-column max-25">
                {{- .Content -}}
            </div>
        </div>
    
    </div>
{{ end }}