{{ define "main" }}
    <article class="">
        <!-- pa3 pa4-ns nested-copy-line-height -->
        <!-- <section class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
            {{- .Content -}}
        </section> -->

        <section class="flex-ns flex-wrap justify-around mt5">
            {{/*  {{ $pages := slice }}
            {{ range (.Paginator 30).Pages }}
                {{ $pages = $pages | append (dict "page" . "file_path" .File.Path) }}
            {{ end }}  */}}

            <ol class="progetti">
                {{ range .Pages.ByWeight }}
                    {{/*  {{ with .page }}  */}}

                    <li class="progetto">
                        <a href="{{ .RelPermalink }}" class="link">
                            <div class="progetto-img img-loading">
                                {{ $featured_image := (.Resources.ByType "image").GetMatch "*featured*" }}
                                {{ if $featured_image }}
                                    {{ partial "image" (dict "Site" $.Site  "image" $featured_image "loading" "lazy" ) }}
                                {{ end }}
                            </div>

                            <span>{{ .Title }}</span>
                        </a>
                    </li>

                        <!-- <li>                
                            <div class="relative w-100 w-30-l mb4 bg-white">
                                <div class="mb3 pa4 {{ $.Param "text_color" | default "mid-gray" }} overflow-hidden">
                                    {{ if .Date }}
                                    <div class="f6">
                                        {{ .Date | time.Format (default "January 2, 2006" .Site.Params.date_format) }}
                                    </div>
                                    {{ end }}
                                    <h1 class="f3 near-black">
                                    <a href="{{ .RelPermalink }}" class="link black dim">
                                        {{ .Title }}
                                    </a>
                                    </h1>
                                    <div class="nested-links f5 lh-copy nested-copy-line-height">
                                    {{ .Summary  }}
                                    </div>
                                </div>
                            </div>
                        </li> -->
                    {{ end }}
                {{/*  {{ end }}  */}}
            </ol>
        </section>
    </article>

{{ end }}