{{ define "main" }}
  {{ $script := resources.Get "js/script-gallery.js" }}
  <script defer language="javascript" type="text/javascript" src="{{ $script.RelPermalink }}"></script>

  <article>
    <div class="gallery-wrapper">
      <div class="gallery-guide gallery-guide--left"></div>
      <div class="gallery-container">
        {{ with .Resources.ByType "image" }}
          {{ range $index, $image := . }}
            {{ if not (in .Name "hidden" ) }}
              {{ if (eq $index 0) }}
                <div class="gallery-image img-loading">{{ partial "image" (dict "Site" $.Site "image" $image "loading" "eager" ) }}</div>
              {{ else }}
                <div class="gallery-image img-loading">{{ partial "image" (dict "Site" $.Site "image" $image "loading" "lazy" ) }}</div>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
      <div class="gallery-guide gallery-guide--right"></div>
    </div>

    <header class="project-info">
      <div>{{ .Title }} {{ with .Params.dataprogetto }} - {{ . }} {{ end }}</div>
    </header>

    <main class="project-info description">
      <div>{{ .Content }}</div>
    </main>
    
    {{ with .Params.links }} 
    <div class="related-links">
      <p>Progetto pubblicato su</p>
      {{ range . }} 
        <a href="{{ .link.href }}" target="_blank">{{ .link.name }}</a>
      {{ end }} 
    </div>
    {{ end }}

  </article>
{{ end }}